[submodule "sw/rp2040-psram"]
	path = sw/rp2040-psram
	url = https://github.com/polpo/rp2040-psram.git
[submodule "sw/tusb_xinput"]
	path = sw/tusb_xinput
	url = https://github.com/Ryzee119/tusb_xinput
[submodule "sw/tinyusb"]
	path = sw/tinyusb
	url = https://github.com/wbcbz7/tinyusb
	branch = rp2040-epx-only
